html { scroll-behavior: smooth; }
.overflow { 
    display: block; 
    position: relative; 
    overflow: hidden; 

    .text { display: inline-block; }
}
@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1;}
}
.blind {
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.common-inner { 
    @include mobile { padding: 0 14px; }
    margin: 0 auto;
    padding: 0 5.5vw; 
}
.br-tb { 
    @include tablet { display: block; } 
    display: none; 
}
.br-mo { 
    @include mobile { display: block; }
    display: none; 
}
.char { display: inline-block; }
/* ELEMENT */
.cursor {
    @include mobile { display: none; }
    position: fixed;
    z-index: 50;
    pointer-events: none;
    mix-blend-mode: difference;
    
    .pointer {
        position: absolute;
        top: 0; left: 0;
        transform: translate(-50%, -50%);
        width: 10px; height: 10px;
        border-radius: 50%;
        background-color: #fff;
        transition: 0.3s;
    }
}
.oval {
    display: block;
	position: relative;
    border-radius: 1000px;
    overflow: hidden;
    transition: 0.3s;

    &:hover {
        transform: scaleX(1.02);
        transition: transform 0.6s cubic-bezier(.34,5.56,.64,1)
    }
    &:hover .oval-text {
        transform: translateY(-100%);
        &::before { width: 100%; border-radius: 0% 0%; transform: translate(-50%,-10%); }
    }

    .oval-text {
        @include flexCenter;
        width: 100%; height: 100%;
        transition: 0.3s ease-out;

        &::before {
            position: absolute;
            top: 100%; left: 50%;
            transform: translateX(-50%);
            content: '';
            width: 100%; height: 120%;
            border-radius: 50% 50% 0 0;
            transition: 0.5s cubic-bezier(.4,0,0,1);
            background-color: $color-point;
        }
        &::after {
            position: absolute;
            content: attr(data-text);
            top: 120%;
            display: block;
            transition: 1s;
            color:#000;
        }
    }
}
.tag {
    display: inline-block;
    border: 1px solid $color-white;
    color: $color-white;
    border-radius: 20px;
    padding: 6px 12px;
    font-weight: 300;
}
.desc {
    letter-spacing: -0.3px;
    line-height: 1.3;
}
.headline--font {
    &-point { 
        @include mobile { font-size: 16vw; }
        font-family: $font-point; 
        font-size: 11vw; 
    }
    &-normal { 
        @include mobile { font-size: 16vw; }
        font-size: 10vw; 
    }
}

