@font-face {
    font-family: 'gallery-modern';
    src: url(../fonts/gallery-modern-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'matter';
    src: url(../fonts/matter-regular.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'matter';
    src: url(../fonts/matter-light.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Light.woff2) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Medium.woff2) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url(../fonts/Pretendard-Regular.woff2) format('woff');
    font-weight: 400;
}