.container { position: relative; z-index: 1;}

/*** SC-VISUAL ***/
.sc-visual {
    background-color: $color-black;
    color: $color-white;

    &__typo {
        @include flexSet(center,flex-start);
        @include mobile { 
            font-size: 19vw; 
            padding-top: 0;
        }
        height: 100vh;
        min-height: 520px;
        flex-direction: column;
        letter-spacing: -.03em;
        font-size: max(96px, 12vw);
        padding-top: 30px;

        .text { display: inline-block; }
    }
    &__desc {
        @include mobile { font-size: 20px; }
        padding: 9vh 0 20vh;
        font-size: max(26px,2.2vw);
        font-weight: 500;
        letter-spacing: -0.4px;
        line-height: 1.5;
    }
    &__oval {
        @include mobile { 
            display: block;
            height: 17.4vw;
        }
        display: inline-flex;
        position: relative;
        padding: 0 3.8vw 0 2vw;
        margin: 0 2vw;
        font-family: $font-point;
        color: $color-point;
        
        &:hover &-text  {
            &::before { width: 130%; }
            &::after { transform: translateY(-18%); }
        }
    }
    &__oval-border {
        @include positionHorizonCenter;
        width: 100%;
        height: 100%;
        display: block;
        border: 2px solid $color-point;
        border-radius: 1000px;
    }
    &__oval-text {
        display: block;
        line-height: 0.92;
        margin-bottom: -1vw;

        &::before { width: 120%; background-color: $color-point; }
        &::after { color: $color-black; }
    }
    .blink-bar {
        @include mobile { display: none; }
        animation: blink 1s steps(1) infinite;
    }
}

/*** SC-POFOL ***/
.sc-pofol {
    @include mobile { padding: 22vw 0; }
    padding: 13vw 0;
    background-color: $color-white;
    
    &__head { 
        @include mobile { margin-bottom: 20vw; }
        margin-bottom: 10vw;
        color: $color-black;
        
        .overflow .text { @include flexVerticalCenter; }
    }
    &__head-video {
        display: flex;
        width: 17vw;
        min-width: 100px;
        border-radius: 1000px;
        margin-left: 1.5vw;
    }
    &__icon-box {
        @include mobile { 
            width: 12vw;
            height: 12vw;
            margin: 0 4px; 
        }
        position: relative;
        width: 9.8vw;
        height: 9.8vw;
        margin: 0 0.5vw;

        .circle {
            @include flexCenter;
            width: 100%; height: 100%;
            background-color: #fff;
            background-image: url(../images/circle_text.svg);
            border-radius: 50%;
            background-repeat: no-repeat;
            animation: circle 10s infinite linear;
            border: 1px solid #555;
        }
        .star {
            @include positionCenter;
            width: 4.6vw; height: 1.3vw;
            background-image: url(../images/circle_star.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .arrow {
            @include positionCenter;
            width: 3vw; height: 3vw;
            background-image: url(../images/arrow.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        @keyframes circle {
            0% { transform: rotate(0); }
            100% { transform: rotate(360deg); }
        }
    }
    &__body {
        @include mobile { padding: 0; }
        padding: 0 20px; 
    }
    &__list {
        @include mobile { gap: 30px; }
        display: flex;
        flex-direction: column;
        gap: 6vh;
    }
    &__item {
        @include flexHorizonCenter;
        @include mobile { gap: 20px; }
        position: relative;
        flex-direction: column;
        gap: 2vw;
        width: 100%;
        margin: 1vw 0;
        overflow-x: hidden;
    }
    &__desc-area {
        @include flexSet(space-between,flex-end);
        @include mobile {
            flex-direction: column;
            align-items: start;
            gap: 12px;
        }
        gap: 20px;
        color: $color-black;
        z-index: 2;
        padding: 0 20px;

        .title { 
            font-size: max(28px, 3vw); 
            font-weight: bold; 
            line-height: 1.1; 
        }
        .desc { font-size: 1.5vw; margin-top: 10px; }
        .link-box { display: flex; gap: 10px;  }
    }
    &__oval { 
        @include mobile { 
            width: 138px;
            height: 30px;
            font-size: 16px;
        }
        width: max(14vw, 150px); 
        height: max(2.6vw, 36px); 
        font-size: max(1.4vw, 16px);
        font-weight: 500;  
        background-color: $color-point; 
        border: 0px;

        .oval-text {
            &::before { background-color: $color-black; }
            &::after { color: #fff; }
        }
    }
    &__img-area {
        position: relative;
        &:hover .sc-pofol__img-box::after { background: rgba(0,0,0,0.2); }

        img {
            position: absolute;
            top: -28%;
            min-height: 200%;
            object-fit: cover;
        }
        .circle { border: none; }
    }
    &__img-box { 
        @include tablet { height: 60vh;  min-height: 320px; }
        @include mobile { height: 40vh; }
        position: relative;
        height: 78vh;
        min-height: 460px;
        border-radius: 5vw;
        overflow: hidden;
        
        &:hover::after { background: rgba(0,0,0,0.2); }
        &::after {
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: rgba(0,0,0,0.7);
            border-radius: 5vw;
            pointer-events: none;
            transition: 0.3s cubic-bezier(.17,.67,.85,.58);
        }
    }
    &__img-link { display: block; height: 100%; }
    &__reel-link {
        @include positionVerticalCenter;
        display: flex;
        z-index: 1;

        &.list2 { right: 0; justify-content: flex-end; }
    }
    &__reel-list { @include flexVerticalCenter; }
    &__reel-item {
        @include flexVerticalCenter;
        @include tablet { gap: 24px; }
        @include mobile { font-size: 12vw; }
        padding-left: 2.4vw;
            font-size: 10vw;
            gap: 2.4vw;
            color: $color-white;
    }
    &__tag-box {
        @include mobile { bottom: 10px; gap: 6px; font-size: 14px; }
        position: absolute;
        bottom: 20px; left: 0;
        display: flex;
        gap: max(0.4vw, 10px);
        z-index: 4;
        flex-wrap: wrap;
        padding: 0 4vw;
    }
}


/*** SC-ABOUT ***/
.sc-about {
    @include mobile { padding: 100px 0; }
    position: relative;
    bottom: 0;
    z-index: 3;
    overflow: hidden;
    padding: 13vw 0;
    background-color: $color-point;

    &__head {
        @include mobile { margin-bottom: 46px; }
        margin-bottom: 120px;
    }
    &__headline { font-size: 150px; }
    &__list {
        @include mobile { gap: 42px; }
        display: flex;
        flex-direction: column;
        gap: 84px;
    }
    &__item-head { padding: 20px 0; }
    &__item-body {
        @include tablet { flex-direction: column; row-gap: 10px; }
        display: flex;
        column-gap: 50px;

        .column-left { 
            @include tablet { width: 100%; }
            flex: 1;
        }
        .column-right { 
            @include tablet { width: 100%; margin-top: 10px; }
            flex: 1;
        }
    }
    &__title { 
        font-size: max(28px, 3vw);
        font-weight: bold;
    }
    &__desc-list {
        @include mobile { font-size: 14px; }
        display: flex;
        position: relative;
        flex-direction: column;
        gap: max(1vw, 4px);
        width: 100%;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 2em;
        list-style: circle !important;
    }
    &__desc-item {
        @include mobile { font-size: 18px; }
        font-size: 20px;
        font-size: max(1.6vw, 20px);
        &::before{
            content: '';
            position: absolute;
            top: 13px;
            left: 0;
            vertical-align: middle;
            width: 4px;
            height: 4px;
            background-color: $color-black;
            border-radius: 50%;
        }

        .text { display: inline-block; margin-left: 13px; }
    }
    &__tag-list {
        @include mobile { column-gap: 4px; }
        display: flex;
        align-items: start;
        column-gap: 8px;
        row-gap: 6px;
        flex-wrap: wrap;
    }
    &__tag { 
        @include mobile { font-size: 14px; }
        color: $color-black; 
        border: 1px solid $color-black; 
        text-transform: uppercase;
    }
    &__bg {
        position: absolute;
        top: 0; right: 0; left: 0; bottom: 0;
        width: 100%; height: 100%;
        overflow: hidden;
    }
    &__bg-box { 
        position: relative; 
        top: 0; right: 0; left: 0; bottom: 0;
        width: 170%; height: 100%;
    }
    &__bg-img {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
    }
}
