
/*** HEADER ***/
.header {
    @include flexSet(space-between,center);
    @include mobile { height: 80px; }
    position: absolute;
    width: 100%; height: 100px;
    padding: 0 5vw;
    background-color: transparent;
    color: $color-white;
    z-index: 2;

    .logo-area {
        @include mobile { margin: 0 auto; }

        &__link {
            display: block;
            position: relative;
            width: 42px; height: 42px;
            font-family: $font-point;
            font-size: 70px;
            font-weight: bold;
            color: #000;
            border-radius: 50%;
            background-color: $color-point;
            overflow: hidden;
        }
        &__text { @include positionCenter; }
    }
    .gnb-area {
        @include mobile { display: none; }

        &__list {
            display: flex;
            gap: 10px;
        }
        &__item {
            overflow-x: hidden;
        }
        &__link {
            position: relative;
            display: block;
            padding: 8px 10px; 
            font-weight: normal;

            &:hover::before  {
                left: 110%;
                transition: 0.4s ease-out;
            }
            &:hover::after { display: block; }
            &::before {
                @include positionVerticalCenter;
                content: '';
                display: block;
                left: -100%;
                width: 50%;
                height: 100%;
                background-color: $color-black;
            }
            &::after {
                @include positionHorizonCenter;
                content: '';
                display: none;
                left: 2px;
                bottom: 10px;
                width: 12px;
                height: 2px;
                background-color: $color-white;
                animation: blink 1s steps(1) infinite;
            }
        }
    }
}


/*** FOOTER ***/
.footer {
    position: relative;
    height: 100vh;

    .common-inner { 
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; 
        padding-bottom: 70px;
        z-index: 3;
    }
    &__head { 
        @include flexCenter;
        height: 100%; 
    }
    &__headline {
        text-align: center;
        color: $color-white;
    }
    &__body {
        @include mobile {
            @include flexVerticalCenter;
            flex-direction: column;
            gap: 14px;
        }
        display: flex;
        justify-content: space-between;
    }
    &__contact-list {
        display: flex;
        gap: 14px;
        color: $color-point;

        .oval { 
            width: 100px;  height: 30px; 
            border: 1px solid $color-point;
        }
        .text { 
            text-align: center; 
            &::before { background-color: $color-point; }
            &::after { color: $color-black; }
        }
    }
    &__policy-area { 
        @include flexCenter;
        @include mobile { font-size: 14px; }
        color: $color-white;
    }
    &__bg-video {
        @include positionCenter;
        object-fit: cover;
        width: 100%; height: 100%;
    }
}

