/* reponsive viewport */
/* responsive */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, input, select {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input:focus, select {
  border: 0;
}

body {
  font-family: "matter", "Pretendard";
  font-weight: 300;
}

@font-face {
  font-family: "gallery-modern";
  src: url(../fonts/gallery-modern-regular.woff2) format("woff2");
}
@font-face {
  font-family: "matter";
  src: url(../fonts/matter-regular.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "matter";
  src: url(../fonts/matter-light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Light.woff2) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Medium.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Regular.woff2) format("woff");
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

.overflow {
  display: block;
  position: relative;
  overflow-y: hidden;
}
.overflow .text {
  display: inline-block;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.common-inner {
  margin: 0 auto;
  padding: 0 5.5vw;
}
@media (max-width: 640px) {
  .common-inner {
    padding: 0 14px;
  }
}

.br-tb {
  display: none;
}
@media (max-width: 1023px) {
  .br-tb {
    display: block;
  }
}

.br-mo {
  display: none;
}
@media (max-width: 640px) {
  .br-mo {
    display: block;
  }
}

.char {
  display: inline-block;
}

/* ELEMENT */
.cursor {
  position: fixed;
  z-index: 50;
  pointer-events: none;
  mix-blend-mode: difference;
}
@media (max-width: 640px) {
  .cursor {
    display: none;
  }
}
.cursor .pointer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s;
}

.oval {
  display: block;
  position: relative;
  border-radius: 1000px;
  overflow: hidden;
  transition: 0.3s;
}
.oval:hover {
  transform: scaleX(1.02);
  transition: transform 0.6s cubic-bezier(0.34, 5.56, 0.64, 1);
}
.oval:hover .oval-text {
  transform: translateY(-100%);
}
.oval:hover .oval-text::before {
  width: 100%;
  border-radius: 0% 0%;
  transform: translate(-50%, -10%);
}
.oval .oval-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-out;
}
.oval .oval-text::before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 120%;
  border-radius: 50% 50% 0 0;
  transition: 0.5s cubic-bezier(0.4, 0, 0, 1);
  background-color: #e0fd60;
}
.oval .oval-text::after {
  position: absolute;
  content: attr(data-text);
  top: 120%;
  display: block;
  transition: 1s;
  color: #000;
}

.tag {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10em;
  padding: 0.4vw 1vw;
  font-size: max(1.2vw, 16px);
  font-weight: 300;
}
@media (max-width: 1023px) {
  .tag {
    padding: 4px 10px;
  }
}
@media (max-width: 640px) {
  .tag {
    font-size: 14px;
  }
}

.desc {
  letter-spacing: -0.3px;
  line-height: 1.3;
}

.headline--font-point {
  font-family: "gallery-modern";
  font-size: 11vw;
}
@media (max-width: 640px) {
  .headline--font-point {
    font-size: 16vw;
  }
}
.headline--font-normal {
  font-size: 10vw;
}
@media (max-width: 640px) {
  .headline--font-normal {
    font-size: 16vw;
  }
}

/*** HEADER ***/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: max(7.6vw, 100px);
  padding: 0 5vw;
  background-color: transparent;
  color: #fff;
  z-index: 2;
}
@media (max-width: 640px) {
  .header {
    height: 80px;
  }
}
@media (max-width: 640px) {
  .header .logo-area {
    margin: 0 auto;
  }
}
.header .logo-area__link {
  display: block;
  position: relative;
  width: max(3.6vw, 42px);
  height: max(3.6vw, 42px);
  font-family: "gallery-modern";
  font-size: 70px;
  font-weight: bold;
  color: #000;
  border-radius: 50%;
  background-color: #e0fd60;
  overflow: hidden;
}
.header .logo-area__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: max(6.4vw, 68px);
}
@media (max-width: 640px) {
  .header .gnb-area {
    display: none;
  }
}
.header .gnb-area__list {
  display: flex;
  gap: max(1vw, 10px);
}
.header .gnb-area__item {
  overflow-x: hidden;
}
.header .gnb-area__link {
  position: relative;
  display: block;
  padding: 8px 10px;
  font-size: max(1.2vw, 16px);
  font-weight: normal;
}
.header .gnb-area__link:hover::before {
  left: 110%;
  transition: 0.4s ease-out;
}
.header .gnb-area__link:hover::after {
  display: block;
}
.header .gnb-area__link::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  left: -100%;
  width: 50%;
  height: 100%;
  background-color: #000;
}
.header .gnb-area__link::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: none;
  left: 2px;
  bottom: 10px;
  width: 12px;
  height: 2px;
  background-color: #fff;
  animation: blink 1s steps(1) infinite;
}

/*** FOOTER ***/
.footer {
  position: relative;
  height: 100vh;
}
.footer .common-inner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 70px;
  z-index: 3;
}
.footer__head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer__headline {
  text-align: center;
  color: #fff;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .footer__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
  }
}
.footer__contact-list {
  display: flex;
  gap: 14px;
  color: #e0fd60;
}
@media (max-width: 640px) {
  .footer__contact-list {
    gap: 10px;
  }
}
.footer__contact-list .oval {
  width: max(10vw, 100px);
  height: max(2.4vw, 30px);
  border: 1px solid #e0fd60;
  font-size: max(1.2vw, 16px);
}
.footer__contact-list .text {
  text-align: center;
}
.footer__contact-list .text::before {
  background-color: #e0fd60;
}
.footer__contact-list .text::after {
  color: #000;
}
.footer__policy-area {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: max(1.2vw, 16px);
}
@media (max-width: 640px) {
  .footer__policy-area {
    font-size: 14px;
  }
}
.footer__bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  z-index: 1;
}

/*** SC-VISUAL ***/
.sc-visual {
  background-color: #000;
  color: #fff;
}
.sc-visual__typo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  min-height: 520px;
  flex-direction: column;
  letter-spacing: -0.03em;
  font-size: max(96px, 12vw);
  padding-top: 30px;
}
@media (max-width: 640px) {
  .sc-visual__typo {
    font-size: 19vw;
    padding-top: 0;
  }
}
.sc-visual__typo .text {
  display: inline-block;
}
.sc-visual__desc {
  padding: 9vh 0 20vh;
  font-size: max(26px, 2.2vw);
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.5;
}
@media (max-width: 640px) {
  .sc-visual__desc {
    font-size: 20px;
  }
}
.sc-visual__oval {
  display: inline-flex;
  position: relative;
  padding: 0 3.8vw 0 2vw;
  margin: 0 2vw;
  font-family: "gallery-modern";
  color: #e0fd60;
}
@media (max-width: 640px) {
  .sc-visual__oval {
    display: block;
    height: 17.4vw;
  }
}
.sc-visual__oval:hover .sc-visual__oval-text::before {
  width: 130%;
}
.sc-visual__oval:hover .sc-visual__oval-text::after {
  transform: translateY(-18%);
}
.sc-visual__oval-border {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid #e0fd60;
  border-radius: 1000px;
}
.sc-visual__oval-text {
  display: block;
  line-height: 0.92;
  margin-bottom: -1vw;
}
.sc-visual__oval-text::before {
  width: 120%;
  background-color: #e0fd60;
}
.sc-visual__oval-text::after {
  color: #000;
}
.sc-visual .blink-bar {
  animation: blink 1s steps(1) infinite;
}
@media (max-width: 640px) {
  .sc-visual .blink-bar {
    display: none;
  }
}

/*** SC-POFOL ***/
.sc-pofol {
  padding: 13vw 0;
  background-color: #fff;
}
@media (max-width: 640px) {
  .sc-pofol {
    padding: 22vw 0;
  }
}
.sc-pofol__head {
  margin-bottom: 10vw;
  color: #000;
}
@media (max-width: 640px) {
  .sc-pofol__head {
    margin-bottom: 20vw;
  }
}
.sc-pofol__head .overflow .text {
  display: flex;
  align-items: center;
}
.sc-pofol__head-video {
  display: flex;
  width: 17vw;
  min-width: 100px;
  border-radius: 1000px;
  margin-left: 1.5vw;
}
.sc-pofol__icon-box {
  position: relative;
  width: 9.8vw;
  height: 9.8vw;
  margin: 0 0.5vw;
}
@media (max-width: 640px) {
  .sc-pofol__icon-box {
    width: 12vw;
    height: 12vw;
    margin: 0 4px;
  }
}
.sc-pofol__icon-box .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(../images/circle_text.svg);
  border-radius: 50%;
  background-repeat: no-repeat;
  animation: circle 10s infinite linear;
  border: 1px solid #555;
}
.sc-pofol__icon-box .star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4.6vw;
  height: 1.3vw;
  background-image: url(../images/circle_star.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sc-pofol__icon-box .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: 3vw;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sc-pofol__body {
  padding: 0 20px;
}
@media (max-width: 640px) {
  .sc-pofol__body {
    padding: 0;
  }
}
.sc-pofol__list {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}
@media (max-width: 640px) {
  .sc-pofol__list {
    gap: 30px;
  }
}
.sc-pofol__item {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  gap: 2vw;
  width: 100%;
  margin: 1vw 0;
  overflow-x: hidden;
}
@media (max-width: 640px) {
  .sc-pofol__item {
    gap: 20px;
  }
}
.sc-pofol__desc-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  color: #000;
  z-index: 2;
  padding: 0 20px;
}
@media (max-width: 640px) {
  .sc-pofol__desc-area {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }
}
.sc-pofol__desc-area .title {
  font-size: max(28px, 3vw);
  font-weight: bold;
  line-height: 1.1;
}
.sc-pofol__desc-area .desc {
  font-size: 1.5vw;
  margin-top: 10px;
}
.sc-pofol__desc-area .link-box {
  display: flex;
  gap: 10px;
}
.sc-pofol__oval {
  width: max(14vw, 150px);
  height: max(2.6vw, 36px);
  font-size: max(1.4vw, 16px);
  font-weight: 500;
  background-color: #e0fd60;
  border: 0px;
}
@media (max-width: 640px) {
  .sc-pofol__oval {
    width: 138px;
    height: 30px;
    font-size: 16px;
  }
}
.sc-pofol__oval .oval-text::before {
  background-color: #000;
}
.sc-pofol__oval .oval-text::after {
  color: #fff;
}
.sc-pofol__img-area {
  position: relative;
}
.sc-pofol__img-area:hover .sc-pofol__img-box::after {
  background: rgba(0, 0, 0, 0.2);
}
.sc-pofol__img-area img {
  position: absolute;
  top: -28%;
  min-height: 200%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sc-pofol__img-area .circle {
  border: none;
}
.sc-pofol__img-box {
  position: relative;
  height: 78vh;
  min-height: 460px;
  border-radius: 5vw;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-pofol__img-box {
    height: 60vh;
    min-height: 320px;
  }
}
@media (max-width: 640px) {
  .sc-pofol__img-box {
    height: 40vh;
  }
}
.sc-pofol__img-box:hover::after {
  background: rgba(0, 0, 0, 0.2);
}
.sc-pofol__img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5vw;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.17, 0.67, 0.85, 0.58);
}
.sc-pofol__img-link {
  display: block;
  height: 100%;
}
.sc-pofol__reel-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  z-index: 1;
}
.sc-pofol__reel-link.list2 {
  right: 0;
  justify-content: flex-end;
}
.sc-pofol__reel-list {
  display: flex;
  align-items: center;
}
.sc-pofol__reel-item {
  display: flex;
  align-items: center;
  padding-left: 2.4vw;
  font-size: 10vw;
  gap: 2.4vw;
  color: #fff;
}
@media (max-width: 1023px) {
  .sc-pofol__reel-item {
    gap: 24px;
  }
}
@media (max-width: 640px) {
  .sc-pofol__reel-item {
    font-size: 12vw;
  }
}
.sc-pofol__tag-box {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  gap: max(0.4vw, 10px);
  z-index: 4;
  flex-wrap: wrap;
  padding: 0 4vw;
}
@media (max-width: 640px) {
  .sc-pofol__tag-box {
    bottom: 10px;
    gap: 6px;
    font-size: 14px;
  }
}

/*** SC-ABOUT ***/
.sc-about {
  position: relative;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
  padding: 13vw 0;
  background-color: #e0fd60;
}
@media (max-width: 640px) {
  .sc-about {
    padding: 100px 0;
  }
}
.sc-about__head {
  margin-bottom: 120px;
}
@media (max-width: 640px) {
  .sc-about__head {
    margin-bottom: 46px;
  }
}
.sc-about__headline {
  font-size: 150px;
}
.sc-about__list {
  display: flex;
  flex-direction: column;
  gap: 84px;
}
@media (max-width: 640px) {
  .sc-about__list {
    gap: 42px;
  }
}
.sc-about__item-head {
  padding: 20px 0;
}
.sc-about__item-body {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1023px) {
  .sc-about__item-body {
    flex-direction: column;
    row-gap: 10px;
  }
}
.sc-about__item-body .column-left {
  flex: 1;
}
@media (max-width: 1023px) {
  .sc-about__item-body .column-left {
    width: 100%;
  }
}
.sc-about__item-body .column-right {
  flex: 1;
}
@media (max-width: 1023px) {
  .sc-about__item-body .column-right {
    width: 100%;
    margin-top: 10px;
  }
}
.sc-about__title {
  font-size: max(28px, 3vw);
  font-weight: bold;
}
.sc-about__desc-list {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: max(1vw, 4px);
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 2em;
  list-style: circle !important;
}
@media (max-width: 640px) {
  .sc-about__desc-list {
    font-size: 14px;
  }
}
.sc-about__desc-item {
  font-size: 20px;
  font-size: max(1.6vw, 20px);
}
@media (max-width: 640px) {
  .sc-about__desc-item {
    font-size: 18px;
  }
}
.sc-about__desc-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}
.sc-about__desc-item .text {
  display: inline-block;
  margin-left: 13px;
}
.sc-about__tag-list {
  display: flex;
  align-items: start;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 6px;
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .sc-about__tag-list {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
}
.sc-about__tag {
  color: #000;
  border: 1px solid #000;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .sc-about__tag {
    font-size: 14px;
  }
}
.sc-about__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sc-about__bg-box {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 170%;
  height: 100%;
}
.sc-about__bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}